@model dynamic
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var vm = {
            movieIds : []
        }; //want to store movies so we can send it to the server later

        var customers = new Bloodhound({ //suggestion engine for typeahead
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),//tokenize this using whitespace
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/customers?query=%QUERY',//%QUERY is wildcard. What user types in textbox
                wildcard: '%QUERY'          //will be placed here in runtime
            }
        });
        $('#customer').typeahead({
            minLength: 3, //typeahead will query servers when user types a minimum of 3 characters
            highlight: true //characters in search that match our query will be highlighted
        }, {
                name: 'customers',
                display: 'name', //specifies what property of customers we display in suggest list
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });

        var movies = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/movies?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        $('#movie').typeahead({
            minLength: 3,
            highlight: true
        }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");//this directly manipulates the DOM
                //in more complex situations this could become a code smell. We use data-binding like
                //Knockout, Angular or React
                $("#movie").typeahead("val", "");//can't use val to change value because we're using typeahead plugin
                vm.movieIds.push(movie.id);
            });

        $.validator.addMethod("validCustomer", function () { 
            //Make sure viewmodel has property called customerId and has a numeric value that is not 0
            return vm.customerId && vm.customerId !== 0;
        }, "Please select a valid customer");

        //return movieIds > 0
        $.validator.AddMethod("atLeastOneMovie", function () {
            return vm.movieIds.length > 0;
        }, "Please select at least one movie.");
        
        $("#newRental").validate({
            submitHandler: function () {
                 
                $.ajax({
                    url: "/api/NewRentals",
                    method: "post",
                    data: vm
                })
                    //handling the success and fail models
                    .done(function () {
                        toastr.success("Rentals successfully recorded.");
                    })
                    .fail(function () {
                        toastr.error("Something unexpected happened.");
                    });
                return false; //This prevents default html from loading, we want to load AJAX
            }
        });
    </script>
}

